<header>
    <img id="logo" src="/img/pokedex.png" alt="pokedex">
    <nav>
        <ul>
            <li> 
                <a href="/cadastro">Cadastro</a>  
            </li>
        </ul>
    </nav>
    </header>